[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
riotwatcher = "*"
mysql-connector = "*"
pandas = "*"
numpy = "*"
shapely = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
